*.dropbox
publisher.jar
.DS_Store
desktop.ini
/output
/temp
/template
/input-cache
_updatePublisher.sh
_updatePublisher.bat
_gencontinuous.bat
_gencontinuous.sh
*.bat
*.xsd
input-cache/txcache
*.code-workspace
input-cache/txcache/https___fhir.infoway-inforoute.ca_CodeSystem_snomedctcaextension.cache
input-cache/txcache/https___fhir.infoway-inforoute.ca_CodeSystem_snomedctcaextension.cache
input-cache/txcache/loinc.cache
input-cache/txcache/version.ctl
